
<div>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>{{ "My Tasks" | localize }}</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="m-2">
        <div class="col-12 ">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" style="font-size: 30px">Görev Listesi</h3>
                <a href="javascript:;" style="float:right; margin-right: 10px;" class="btn bg-success">
                  <i class="fa fa-plus-square"></i>
                  {{ "Create" | localize }}
                </a>
              </div>

              <div class="card-body table-responsive p-0 " style="overflow-y:hidden scroll;">
                <table class="table table-hover text-nowrap table-borderless">
                  <thead class="bg-light" style="position: sticky; top: 0; z-index: 99;">
                    <tr>
                      <th >Görev Tanımı</th>
                      <th >Görev Açıklaması</th>
                      <th >Görev Durumu</th>
                      <th >Görev Sahibi</th>
                      <th >Görevin Projesi</th>
                      <th >Başlama Tarihi</th>
                      <th >Geliştirici Notu</th>
                    </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let task of tasks">
                      <td>{{task.gorevTanimi}}</td>
                      <td>{{task.gorevAciklama}}</td>
                      <td>{{task.gorevDurum}}</td>
                      <td>{{task.developerName}}</td>
                      <td>{{task.projeAdi}}</td>
                      <td>{{task.baslamaZamani}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
               <hr>
              <div class="card-footer " class=" mx-auto" style="position: relative; top: -0.5rem;">
                <abp-pagination-controls id="server" >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
    </section>
  </div>