<div>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>{{ "Customer Request" | localize }}</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="m-2">
        <div class="col-12 ">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" style="font-size: 30px">Taleplerim</h3>
                <a id="buton1" href="javascript:;" style="float:right; margin-right: 10px;" class="btn bg-success">
                  <i class="fa fa-plus-square"></i>
                  {{ "Create" | localize }}
                </a>
              </div>
              
              <div class="card-body table-responsive p-0 " style="overflow-y:hidden scroll;">
                <table class="table table-hover text-nowrap table-borderless">
                  <thead class="bg-light" style="position: sticky; top: 0; z-index: 99;">
                    <tr>
                      <th >Proje Adı</th>
                      <th >İstek Adı</th>
                      <th >İstek Açıklaması</th>
                      <th >İstek Sahibi</th>
                    </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let request of requests">
                      <td>{{request.projeAdi}}</td>
                      <td>{{request.musteriIstek}}</td>
                      <td>{{request.musteriAciklama}}</td>
                      <td>{{request.musteriAdi}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr>
              <div class="card-footer " class=" mx-auto" style="position: relative; top: -0.5rem;">
                <abp-pagination-controls id="server" >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
    </section>
  </div>