<div>
    <section class="content">
        <div class="containe-fluid">
            <div class="row">
                <div class="col-md-3 m-5">
                    <img class="image m-5" src="assets/img/user.png"
                    style="height:300px;  border: 1px solid white;">
                </div>
                <div class="col-md-8">
                    <div class="d-flex py-3">
                        <div class="col-8"><h1 >Bilgilerim</h1></div>
                        
                    </div>
                    <form>
                        <div class="form-row py-1">
                            <div class="form-group col-md-6">
                              <label for="name">Name</label>
                              <input type="name" class="form-control" id="name" [(ngModel)]="userUpdate.name" #yoneticiAdiModel="ngModel" [ngModelOptions]="{standalone: true}" value="{{userDetails.name}}">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="surname">Surname</label>
                              <input type="Surname" class="form-control" id="Surname" [(ngModel)]="userUpdate.surname" #yoneticiSoyadiModel="ngModel" [ngModelOptions]="{standalone: true}" value="{{userDetails.surname}}">
                            </div>
                          </div>

                        <div class="form-row py-1">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="userUpdate.emailAddress" #yoneticEimailModel="ngModel" [ngModelOptions]="{standalone: true}" value="{{userDetails.emailAddress}}">
                          </div>
                          <div class="form-group col-md-6 ">
                            <label for="Phone Number">Phone Number</label>
                            <input type="Phone Number" class="form-control" id="Phone Number" [(ngModel)]="yoneticiGuncelle.iletisim" #yoneticiIletisimModel="ngModel" [ngModelOptions]="{standalone: true}" value="{{yoneticiDetails.iletisim}}">
                          </div>
                        </div>

                        <div class="form-row py-3">
                            <div class=" text-center ">
                                <a class="btn btn-primary" (click)="save()">
                                    <i class="fas fa-user-edit"></i>
                                    {{ " Save " | localize }}
                                </a>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
            <form >
                <div class="form-group mx-5">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" rows="4" [(ngModel)]="yoneticiGuncelle.aciklama" #yoneticiAciklamaModel="ngModel" [ngModelOptions]="{standalone: true}" value="{{yoneticiDetails.aciklama}}" ></textarea>
                  </div>
            </form>
        </div>
    </section>
</div>